<!-- Our services -->
<section>
    <div class="app-container" fxLayout="column">
        <div fxLayout="row-wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <!-- <mat-card fxFlex="30%">
                <service-booking-form></service-booking-form>
            </mat-card> -->

            <div class="section2" fxFlex="100%" fxLayout="column" fxLayout.xs="column">
                <div fxFlex="20%" class=" service1 mb-2 mb-md-5" fxLayout="column " fxLayoutAlign="center center ">
                    <h1>All Govt Schemes</h1>
                </div>

                <div fxFlex="55%" fxLayout="row wrap" fxLayoutAlign="center ">
                    <ng-container *ngFor="let service of servicesData;index as index">
                        <a class="tile mb-2" fxLayout="column" [routerLink]="service?.url"  fxFlex="20%" fxFlex.sm="25%" fxFlex.xs="45%" [fxHide.xs]="index >= 8" fxLayoutAlign="center center">
                            <!-- <i [style.color]="service?.theme" class="{{service.icon}}  icon" aria-hidden="true"></i> -->
                            <img loading="lazy" class="logo" src="{{service?.logo}}">
                            <h6 class="m-0 mt-2 title">{{service?.title}}</h6>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Services -->
