<!-- Desktop View -->
<footer fxHide.xs>
    <div class="app-container" fxLayout="row-wrap" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutGap="20px">
        <section class="section1" fxLayout="column" fxFlex="25%" fxFlex.xs="100%">
            <span class="life">#GIFT</span>
            <h1 class="m-0">Government Schemes</h1>
            <a fxLayout="row" routerLink="/" class="logo-text mt-3" fxLayoutGap="10px">
              <img loading="lazy" src="assets/logo/logo.png" width="80" height="50">
              <img loading="lazy" src="assets/logo/govt.png" width="50">
          </a>
            <!-- <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea corporis molestias harum accusantium aspernatur vitae odit commodi placeat nulla atque, sunt consectetur ex asperiores delectus dolor, voluptatibus a repellendus iste!
            </p> -->
        </section>
        <section class="section2" fxLayout="column" fxFlex="15%" fxFlex.xs="100%">
            <h4>USEFUL LINKS</h4>
            <div fxLayoutGap="10px" fxLayout="column">
                <a>Home</a>
                <a>About Us</a>
                <a>Schemes</a>
                <a>Terms Of Service</a>
                <a>Privacy Policy</a>
            </div>
        </section>
        <section class="section3" fxLayout="column" fxFlex="25%" fxFlex.xs="100%">
            <h4 class="fw-800">CONTACT US</h4>
            <!-- <p>Plot No-93/14</p> -->
            <p>GIFT College,</p>
            <p>Gramadiha, P.O.: Gangapada - 752054</p>
            <!-- <P>Phone: +91-8235503371</P>
            <p>Email: servicebhaiya@gmail.com</p> -->
        </section>
        <section class="section4" fxLayout="column" fxFlex="25%" fxFlex.xs="100%">
            <span class="subscribe-title" translate>Follows Us</span>
            <div class="follow-us-links" fxLayoutGap="25px" fxLayout="column" fxLayoutGap.xs="20px">
                <!-- <div class="header">Follow us</div> -->
                <ul fxLayout fxLayoutGap="15px">
                    <li>
                        <a href="/" class="facebook" target="_blank">
                            <!-- <fa name="facebook"></fa> -->
                            <i class="fa fa-facebook icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/" target="_blank" class="whatsapp">
                            <!-- <fa name="twitter"></fa> -->
                            <i class="fa fa-whatsapp icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/" target="_blank" class="twitter">
                            <!-- <fa name="tumblr"></fa> -->
                            <i class="fa fa-twitter icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="" class="linkedin">
                            <img loading="lazy"src="https://s3.amazonaws.com/kalgudicontent/AmazonSesMailTemplates/images/linkedin-logo-32.png" alt="linked-logo">
                        </a>
                    </li> -->
                </ul>
            </div>
        </section>
    </div>
</footer>
<!-- Desktop View -->

<!-- mobile view -->
<footer fxHide fxShow.xs>
    <div class="app-container" fxLayout="row-wrap" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutGap="20px">
        <section class="section4" fxLayout="column" fxFlex="25%" fxFlex.xs="100%" fxLayoutAlign="center center">
            <span class="life">#GIFT College</span>
            <h1>Government Schemes</h1>
            <div class="follow-us-links">
                <!-- <div class="header">Follow us</div> -->
                <ul fxLayout fxLayoutGap="15px" class="m-0">
                    <li>
                        <a href="/" class="facebook" target="_blank">
                            <!-- <fa name="facebook"></fa> -->
                            <i class="fa fa-facebook icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/" target="_blank" class="whatsapp">
                            <!-- <fa name="twitter"></fa> -->
                            <i class="fa fa-whatsapp icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/" class="twitter">
                            <!-- <fa name="tumblr"></fa> -->
                            <i class="fa fa-twitter icon" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
            <section class="section3" fxLayout="column" fxFlex="20%" fxFlex.xs="100%">
                <h4 class="fw-800">CONTACT US</h4>
                <!-- <p>Plot No-93/14</p> -->
                <p>GIFT College,</p>
                <p>Gramadiha, P.O.: Gangapada - 752054</p>
                <!-- <P>Phone: +91-8235503371</P>
                <p>Email: servicebhaiya@gmail.com</p> -->
            </section>
        </div>
    </div>
</footer>
<!-- Mobile View -->
<!--
<section class="section5">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div class="copyright">© 2020 Copyright <strong>servicebhaiya</strong>. All Rights Reserved</div>
        <div>Designed by <a href="https://technogenr.com/" target="_blank">technogenr solution</a></div>

    </div>
</section> -->
