<!-- Portfolio -->
<section>
    <h1 fxLayoutAlign="center">PORTFOLIO</h1>
    <div class="app-container">
        <div class="uk-position-relative" uk-slideshow="min-height: 300; max-height: 600; animation: fade">
            <ul class="uk-slideshow-items">
                <li>
                    <img loading="lazy" src="assets/portfolio/port2.jpg" alt="" width="1800" height="600" uk-cover>
                </li>
                <li>
                    <img loading="lazy" src="assets/portfolio/port1.jpg" alt="" width="1800" height="600" uk-cover>
                </li>
                <li>
                    <img loading="lazy" src="assets/portfolio/port3.jpg" alt="" width="1800" height="600" uk-cover>
                </li>
                <li>
                    <img loading="lazy" src="assets/portfolio/jfif.jpg" alt="" width="1800" height="600" uk-cover>
                </li>
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            <div class="uk-position-bottom-center uk-position-small">
                <ul class="uk-thumbnav">
                    <li uk-slideshow-item="1">
                        <a href="#"><img loading="lazy" src="assets/portfolio/port2.jpg" width="100" alt=""></a>
                    </li>
                    <li uk-slideshow-item="2">
                        <a href="#"><img loading="lazy" src="assets/portfolio/port1.jpg" width="100" alt=""></a>
                    </li>
                    <li uk-slideshow-item="3">
                        <a href="#"><img loading="lazy" src="assets/portfolio/port3.jpg" width="100" alt=""></a>
                    </li>
                    <li uk-slideshow-item="4">
                        <a href="#"><img loading="lazy" src="assets/portfolio/jfif.jpg" width="100" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio -->
