.isLoading {
    .loader {
      .product-detail {
        height: 20px;
      }
    }
    .contain {
        height: 8.5rem;
        @media only screen and (max-width: 600px) {
          width: 2.5rem;
        height: 2.5rem;
        }
    }
  
    .order-card {
      border: 1px solid #cbbdbd;
    }
  
    .product-img {
      width: 25.5rem;
      height: 10.5rem;
      @media only screen and (max-width: 600px) {
        width: 6.5rem;
      height: 6.5rem;
      }
    }
  }
  