<!-- About us -->
<section>
    <div class="app-container" fxLayout="column" fxLayoutAlign="center center">
        <div class="about1" fxLayout="column" fxLayoutAlign="center center">
            <h1>Latest Government Schemes</h1>
        </div>
       <ng-container *ngFor="let data of latest_scheme">
        <ul uk-accordion  >
          <li  class="uk-close">
              <a class="uk-accordion-title" href="#">{{data?.title}}</a>
              <div class="uk-accordion-content">
                  <p>{{data?.description}}</p>
              </div>
          </li>
      </ul>
       </ng-container>

       <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center">
         <p class="m-0 mr-3">Download PDF</p>
         <a href="./assets/govt.pdf">
          <mat-icon  >cloud_download</mat-icon></a>


       </div>
    </div>
</section>
<!-- About us -->
