<!-- How it work -->
<section>
    <div fxLayout="column" class="app-container" fxLayoutAlign="center center" fxLayoutGap="40px" fxLayoutGap.xs="20px">
        <div class="service1" fxLayout="column" fxLayoutAlign="center center">
            <h1>How it works</h1>
        </div>

        <div class="section2" fxLayout="column" fxLayoutGap="50px" fxLayoutGap.xs="20px">
            <div fxLayout="row-wrap" fxLayout.xs="column" fxLayoutGap="100px" fxLayoutGap.xs="20px">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex="33%">
                    <div class="html " fxLayout>
                        <img loading="lazy" class="how-works-img" src="assets/about-us/work2.png" width="100"></div>
                    <h2>Book</h2>
                    <p>Select the date and time like your preprofessional to show up</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex="33%">
                    <div fxLayout> <img loading="lazy" class="how-works-img" src="assets/about-us/time.png" width="100">
                    </div>
                    <h2>Schedule</h2>
                    <p>Certified Taskers comes over and done your task</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex="33%">
                    <div fxLayout> <img loading="lazy" class="how-works-img" src="assets/about-us/work1.jpg" width="100">
                    </div>
                    <h2>Relax</h2>
                    <p>your task is completed to your satisfaction - guranteed</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- How it work -->
